<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  <form method="post" action="/piglatinize" id="pig_latin">
    <label for="word"> Enter your phrase: </label>
    <input type="text" id="phrase" name="user_phrase" 
    <input type="submit" value="Pig Latinize Me!">
  </form>
  </body>
</html>