<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <h1>Pig Latinizer!</h1>
    <h3>Type in your word:</h3>

    <form method="post" action="/piglatinize">
      <label>Enter your phrase:<input type="textarea" name="user_phrase"></label>
    </form>

  </body>
</html>