<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h3>Please Enter Your Word:</h3>

   <form method="post" action="/piglatinize">
     <label for="user_input">Enter your phrase:<input type="textarea" id="user_input" name="user_phrase"></label>
   </form>
  </body>
</html>
